{% extends "base.html" %} {% block content %}

<div class="container">
    </br>
    <p>文章を入力して送信を押してください。</p>
    <form action="" method="post">
        {% csrf_token %}
        <div>
          <textarea id="sentence" name="sentence" rows="3" cols="50">{{ input_text }}</textarea>
        </div>
        <select name="engine type">
            <option value="davinci">Davinci(生成エンジン)</option>
            <option value="curie">Curie</option>
            <option value="babbage">Babbage</option>
            <option value="ada">Ada</option>
        </select>
        <input type="submit" value="送信">
    </form>
    </br>
        <i class="fa fa-user-circle fa-4x" aria-hidden="true"></i>&emsp; {{ response }}
</div>


{% endblock %}